@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --light-blue: #005490;
  --light-blue-border: #5cb5f4;
  --color-sec: #db6400;
  --grey: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 900px;
  margin: 3rem auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.input-country {
  padding: 1rem;
  font-size: 1.5rem;
  width: 60%;
  margin-bottom: 2rem;
  border: 1px solid var(--light-blue-border);
  border-radius: 5px;
  outline: none;
}

.btn-country {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--color-sec);
  color: var(--white);
  border: none;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0 0 5px rgba(20, 141, 235, 0.9);
  border: 2px solid var(--light-blue-border);
  transition: background-color 0.3s ease;
}

.btn-country:hover {
  background-color: var(--light-blue-border);
  border: 2px solid var(--color-sec);
  font-weight: bold;
}

.countries {
  width: 50%;
}

.country {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  overflow: hidden;
  text-align: left;
}

.country__img {
  width: 100%;
}

.country__data {
  padding: 20px;
}

.country__name {
  font-size: 2.4rem;
  font-weight: bold;
}

.country__region {
  font-size: 1.8rem;
  color: gray;
}

.country__row {
  font-size: 1.6rem;
  margin: 10px 0;
}

.counter-div {
  width: 42rem;
  border: 1px solid var(--light-blue-border);
  padding: 1rem;
  background-color: var(--light-blue);
  color: var(--white);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(1, 54, 95, 0.9);
}

.counter-div>* {
  margin-bottom: 2rem;
}